body{
	font-family: Arial,sans-serif;
}

.weekly-item{
	display: flex;
	padding: 12px 0;
	border-bottom: 1px solid red;
	align-items: center;

}
.weekly-item .number{
	font-size: 20px;
	padding: 0 10px; 
	

}
.weekly-item .info{
	font-size: 20px;
	flex-grow: 1;
}

.weekly-item .song-title{
	margin-bottom: 5px;
}

.weekly-item .singer{
	font-size: 11px;
	color: #ccc;
}
.weekly-item .view-count{
	font-size: 11px;
	color: #ccc;
}
